@{
    Layout = null;
}
<div class="container row shadow">
    <div class="col-md-6">
        <h3>İletişim</h3>
        <br />
        <p><i class="fas fa-phone pr-2"></i> +90 (555) 555 55 55  </p>
        <p><i class="fas fa-at pr-2"></i><a href="mailto:aslibrbln@gmail.com">aslibrbln@gmail.com</a></p>
        <p><i class="fas fa-at pr-2"></i><a href="mailto:sumdeg@gmail.com">sumdeg@gmail.com</a></p>
        <p><i class="fab fa-github pr-2"></i> <a href="http://www.github.com/Brbln" style="text-decoration: none;">Aslı BİRBİLEN</a>  </p>
        <p><i class="fab fa-github pr-2"></i> <a href="http://www.github.com/sumdeg" style="text-decoration: none;">Sümeyye Değirmenci</a>  </p>
    </div>
</div>